
header {
    display: flex; /* Размещаем логотип и текст в одной строке */

    font-family: Arial, sans-serif;
    background-color: #93DBC4;
    color: #E9F5F1;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}
/*.logo-img {*/
/*    max-width: 100px;*/
/*    margin-right: 20px;*/
/*    !*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);*!*/
/*    border-top-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));*/


header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo-img {
    height: 80px;
}


.header-text {
    text-align: center;
    margin-bottom: 20px;
}

.header-text h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: black;
}

.header-text p {
    font-size: 1em;
    color: #333;
}

.navigation-menu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.navigation-menu li {
    margin: 0 15px;
}

.navigation-menu a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: bold;
}

.navigation-menu a:hover {
    color: #538F7B;
    border-bottom: 3px solid #538F7B;
}


.navigation-menu ul li.active a {
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}