
header {
    display: flex; /* Размещаем логотип и текст в одной строке */

    font-family: Arial, sans-serif;
    background-color: #93DBC4;
    color: #E9F5F1;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}
/*.logo-img {*/
/*    max-width: 100px;*/
/*    margin-right: 20px;*/
/*    !*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);*!*/
/*    border-top-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));*/


header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}
/*.header-text h1 {*/
/*    color: black;*/
/*    font-size: 24px;*/
/*}*/

/*.header-text p {*/
/*    font-size: 16px; !* Размер шрифта текста *!*/
/*}*/

/*header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background-color: #f8f8f8; !* Или любой другой цвет фона *!*/
/*    padding: 20px;*/
/*}*/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Отступ между лого и текстом */
}

.logo-img {
    height: 80px; /* Вы можете изменить это значение по своему усмотрению */
}

.header-text {
    text-align: center; /* Центрирование текста под логотипом */
    margin-bottom: 20px; /* Отступ между текстом и навигацией */
}

.header-text h1 {
    font-size: 2.5em; /* Увеличение размера названия сайта */
    margin: 0;
    padding: 0;
    color: black; /* Цвет заголовка */
}

.header-text p {
    font-size: 1em; /* Размер подзаголовка */
    color: #333; /* Цвет подзаголовка */
}

.navigation-menu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.navigation-menu li {
    margin: 0 15px; /* Расстояние между пунктами меню */
}

.navigation-menu a {
    text-decoration: none;
    color: black; /* Цвет текста ссылок */
    padding: 10px 15px; /* Паддинг для ссылок */
    font-size: 1em; /* Размер текста ссылок */
    font-weight: bold;
}

.navigation-menu a:hover {
    color: #538F7B; /* Цвет текста ссылок при наведении */
    border-bottom: 3px solid #538F7B; /* Подчеркивание при наведении */
}
