header {
    display: flex; /* Размещаем логотип и текст в одной строке */

    font-family: Arial, sans-serif;
    background-color: #93DBC4;
    color: #E9F5F1;
    padding: 20px;
    align-items: center;

}

footer{
    position: absolute;

}

/* Стили для логотипа */
.logo-img {
    max-width: 100px;
    margin-right: 20px;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);*/
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));

}

/*.logo{*/
/*    border-top-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);*/
/*}*/

/* Стили для текста заголовка */
.header-text h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.header-text p {
    font-size: 16px; /* Размер шрифта текста */
}

.container {
    display: flex;
}

.grid-demo-block {
    flex: 0 0 50%;
    background-color: #E9F5F1;
    display: grid;
    grid-template-areas: "demo1 demo2"
                                "demo3 demo4";
    grid-gap: 10px;
    padding: 40px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.play-button {
    background-color: #F17757;
    color: #E9F5F1;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;

    border: none;
    outline: 3px ridge #B3614D;
    border-radius: 1rem;
    cursor: pointer;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.price-list {
    flex: 0 0 50%;
    background-color: #E9F5F1;
    padding: 20px;
    align-items: center;
}

.buy-button {
    background-color: #538F7B;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    border: none;
    outline: 3px ridge #93DBC4;
    border-radius: 1rem;
    cursor: pointer;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);*/
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));

}


/* Стили для текста */
body {
    font-family: Arial, sans-serif; /* Семейство шрифтов для всей страницы */
    letter-spacing: 1px;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #555;
    padding: 10px;
    font-weight: bold;

}

h3 {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #777;
    padding: 10px;
    font-weight: bold;

}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: normal;

}


.price-list ul li a {
    color: #333; /* Цвет текста ссылок */
    text-decoration: none; /* Убрать подчеркивание ссылок */
}

.price-list ul li a:hover {
    text-decoration: underline; /* Подчеркнуть ссылку при наведении */
}

blockquote {
    font-style: italic;
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin: 20px 0;
}


section {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
}

footer {

    width: 100%;
    background-color: #93DBC4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Стили для стилизации переформатированного текста */
.underline-text {
    text-decoration: underline;
}

.strike-through-text {
    text-decoration: line-through;
}

.large-text {
    font-size: 28px;
}

.uppercase-text {
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    header .logo, header .header-text {
        width: 100%;
        text-align: center;
        float: none;
    }

    .gallery img {
        width: 48%; /* две картинки в ряд на маленьких экранах */
    }
}

.gallery {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 750px) {
    .gallery-img {
        width: 100%;
        height: 100%;

        margin: 30px; /* отступы вокруг гифок */
        transition: transform 0.3s, filter 0.3s; /* плавный переход для свойств */
        border-radius: 5px; /* скругленные уголки */
        max-width: 400px; /* максимальная ширина */
        max-height: 400px;
    }
}

@media screen and (max-width: 750px) {
    .gallery-img {
        width: 100%;
        height: 100%;

        margin: 30px; /* отступы вокруг гифок */
        transition: transform 0.3s, filter 0.3s; /* плавный переход для свойств */
        border-radius: 5px; /* скругленные уголки */
        max-width: 200px; /* максимальная ширина */
        max-height: 200px;
    }
}

.gallery-img:hover {
    transform: scale(1.1); /* увеличиваем гифку при наведении курсора */
    filter: brightness(1.2); /* делаем гифку ярче при наведении курсора */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

